* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
}

.container {
  width: min(90%, 1110px);
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-block: 0.5em;
}

p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-block: 1em;
}

.navbar {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding-block: 2em;
  margin-bottom: 2em;
}

.logo {
  width: 100px;
}

.hero__img {
  width: 900px;
}

.card {
  position: relative;
  margin-block: 2em;
}

.card__img {
  border-radius: 9px;
  width: 100%;
}

.card__badge {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: 700;
}
.card__stats {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card__price {
  font-weight: 700;
}

.star-icon {
  height: 14px;
  width: 14px;
}

@media (min-width: 500px) {
  .activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
  }

  .card {
    width: 350px;
  }
}
